@use "../../../../../../../styles/utils/mixins" as *;

.scrollWrapper {
	overflow: hidden;
	overflow-x: auto;
	padding-bottom: 8px;
	scrollbar-width: none;
	  -ms-overflow-style: none;
  }
  
  .gridContainer {
	display: flex;
	gap: 24px;
	min-width: max-content;
  }

  .column {
	background-color: var(--gray-3);
	border-radius: var(--radius-4);
	padding: 8px;
	flex-shrink: 0;

	@include mq(sm) {
		width: 280px;
	}

	@include mq(md) {
		width: 500px;
	}
  }
  