.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.header_inner {
    display:flex;
    gap: 20px;
    align-items: center;
}

.link {
    transition: font-weight 0.3s ease, transform 0.3s ease;
    color: --gray;
}

.link:hover {
    font-weight: 700;
    transform: scale(1.1);
}
