@use "../../styles/utils/mixins" as *;

.main {
    padding-top: 56px;
}

.main-inner {
    @include mq(sm) {
        padding: 24px 16px 248px;
    }

    @include mq(md) {
        padding: 48px 64px 248px;
    }
}