@use "../../styles/utils/mixins" as *;

.main {
    padding-top: 56px;
}

.main-inner {
    @include mq(sm) {
        padding: 24px 16px calc(48px + 150px + 40px + 32px);
    }

    @include mq(md) {
        padding: 48px 64px calc(48px + 150px);
    }
}