

.content {

	ul {
		padding-left: 16px ;
	}

	li {
		margin-bottom: 8px;
		list-style: none;	
	}

	ul > li > ul >li {
		margin-top: 8px;
	}
}

.border {
    border: 0.5px solid var(--gray-9);
    margin: var(--space-5) 0; 
}
