

.content {

	ul {
		padding-left: 16px ;
	}

	li {
		margin-bottom: 8px;
		list-style: none;	
	}

	ul > li > ul >li {
		margin-top: 8px;
	}
}

.border {
    width: 100%;
    border: 1px solid var(--color-panel-solid);
    margin-top: 24px;
    margin-bottom: 24px;
}
