@use "../../../../../styles/utils/mixins" as *;

.artistHeader {
    position: relative;
    margin: auto;

    @include mq(sm) {
		width: 240px;
        height: 240px;
    }

    @include mq(md) {
		width: 320px;
    height: 320px;
	}
}

.artistText {
    text-shadow: var(--slate-6) 0 0 8px;
}