.artistHeader {
    height: auto;
    position: relative;
    background: var(--gray-3);
}

.artistImage {
    height: 60vh;
    object-fit: contain;
    margin: auto;
}

.artistText {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-shadow: var(--gray-3) 0 0 8px;
}