.marquee {
	width: stretch;
  overflow: hidden;
  position: relative;
}

.marquee > .marqueeInner {
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.scrolling {
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.marquee > .marqueeInner:hover {
  animation-play-state: paused;
  cursor: default;
}

@keyframes marquee {
    0% { left: 0%; transform: translate(0); }
	30% { left: 0%; transform: translate(0); }
  100% { left: 0; transform: translate(-100%); }
}