.jacketWrapper {
    display: flex;
    flex-direction: column;
    width:200px;
    gap: 8px;
    font-size: 14px;
}

.jacket {
    position: relative;
    cursor: pointer;
}

.jacketImg {
    border-radius: 10px;
}

.jacket::after {
    content: '';
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.jacket:hover::after {
    opacity: 1;
}

.jacketInfo {
    display: flex;
    flex-direction: column;
}