.header {
    z-index: 1000;
    background-color :var(--color-background);
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 64px;
    height: 56px;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 8px 32px;
    }
    
}

.link {
    transition: font-weight 0.3s ease, transform 0.3s ease;
    color: --gray;
    font-weight: 700;
}

.link:hover {
    transform: scale(1.2);
}

.logo {
    display: inline;
}

.logoSmall {
    display: none;
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }

    .logoSmall {
        display: inline;
    }
}

.label {
    display:block;
}

.icon {
    display: none;
}

@media (max-width: 768px) {
    .label {
        display: none;
    }

    .icon {
        display:  block;
    }
}
