@use "../../../../styles/utils/mixins" as *;

.header {
    z-index: 1000;
    background-color :var(--color-background);
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;

    @include mq(sm) {
        padding: 8px 32px;
    }

    @include mq(md) {
        padding: 16px 64px;
    }
}

.link {
    transition: font-weight 0.3s ease, transform 0.3s ease;
    color: --gray;
    font-weight: 700;
}

.link:hover {
    transform: scale(1.2);
}

.textField {
    
    @include mq(sm) {
        width: 250px;
    }

    @include mq(md) {
        width: 300px;
    }
}
