@use "../base/variables" as *;

// モバイルでは非表示
.display-none-sp {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

// モバイルでのみ表示
.display-only-sp {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  } 
}

// マージンのユーティリティ
@for $i from 1 through $loopLength {
  .mt-#{$i} {
    margin-top: #{$i * $baseSize}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i * $baseSize}px;
  }
}

// 丸みのユーティリティ
@for $i from 1 through $loopLength {
  .radius-#{$i} {
    border-radius: #{$i * $baseSize}px;
  }
}

.radius-full {
  border-radius: 50%;
}

// 3点リーダー
@for $i from 1 through $ellipsisLineLength {
	  .textEllipsis-#{$i} {
	display: -webkit-box;
	line-clamp: $i;
	-webkit-line-clamp: $i;
	-webkit-box-orient: vertical;
	overflow: hidden;
  }
}

// リンク文字
.link {
    color: var(--gray-10);
}
