@use "../base/variables" as *;

// モバイルでは非表示
.display-none-sp {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

// モバイルでのみ表示
.display-only-sp {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  } 
}

// 3点リーダー
@for $i from 1 through $ellipsisLineLength {
	  .textEllipsis-#{$i} {
	display: -webkit-box;
	line-clamp: $i;
	-webkit-line-clamp: $i;
	-webkit-box-orient: vertical;
	overflow: hidden;
  }
}

// リンク文字
.link {
    color: var(--gray-10);
}
