.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.content {
  margin: auto;
}
