.column {
	background-color: var(--gray-3);
	border-radius: 8px;
	padding: 8px;
}

  .row {
	display: grid;
	gap: 16px;
	grid-template-columns: auto 1fr auto;
	font-size: var(--font-size-2);
	padding: 10px 12px;
	border-radius: 8px;
	transition: background-color 0.2s ease;
	cursor: pointer;
  
	span {
	  margin: auto 0;
	}
  
	&:hover {
	  background-color: var(--gray-5);
	}
  }