@use "../../../../styles/utils/mixins" as *;

.footer {
	z-index: 1000;
	background-color: var(--color-background);
	position: fixed;
	width: 100%;
	height: fit-content;
	bottom: 0;
	overflow: hidden;
	transition: height 0.2s ease;

	@include mq(sm) {
		display: flex;
		flex-direction: column;
	}

	@include mq(md) {
		display: flex;
		flex-direction: row;
	}
	
}

.footerClose {
	height: 0px;
}

.footerMovie {
	width: auto;
	min-width: 375px;
	height: 200px;
}

.footerContent {
	display:flex;
	flex-direction: column;
	white-space: wrap;
	width: 100%;
	gap: 16px;

	@include mq(sm) {
		padding: 8px 16px;
	}

	@include mq(md) {
		padding: 16px 32px;
	}
}

.buttonWrapper {
	width: fit-content;

	@include mq(sm) {
		margin: auto;
	}

	@include mq(md) {
		margin: 0;
	}
}