@use "../../../../styles/utils/mixins" as *;

.footer {
	z-index: 1000;
	background-color: var(--color-background);
	position: fixed;
	width: 100%;
	height: fit-content;
	bottom: 0;

	@include mq(sm) {
		display: flex;
		flex-direction: column;
	}

	@include mq(md) {
		display: flex;
		flex-direction: row;
		height: 20vh;
	}
	
}

.footerMovie {
	width: auto;
	min-width: 375px;
	height: 100%;
}

.footerContent {
	display:flex;
	flex-direction: column;
	white-space: wrap;
	width: 100%;
	padding: 16px 32px;
	gap: 16px;
}

.buttonWrapper {
	width: fit-content;

	@include mq(sm) {
		margin: auto;
	}

	@include mq(md) {
		margin: 0;
	}
}