.albumHeader {
	display: flex;
	gap: 16px;
}

.img {
	border-radius: var(--radius-4);
}

.contentWrapper {
	display: flex;
	gap: 8px;
	flex-direction: column;
	justify-content: end;
}

.contentInner {
	display: flex;
	flex-direction: column;
	font-size: var(--font-size-2);
}