@use "../../../../styles/utils/mixins" as *;

.section {
    display: flex;
    flex-direction: column;

    @include mq(sm) {
        gap: 16px;
	}

    @include mq(md) {
        gap: 24px;
	}
}

.slider {
    display: -webkit-box;
    overflow-x: scroll;
    gap: 24px;
    scrollbar-width: none; /* Firefoxでスクロールバーを非表示 */
    -ms-overflow-style: none; /* IE・Edgeでスクロールバーを非表示 */
    mask-image: linear-gradient(90deg, #060d17 90%, transparent);
}

.slider::-webkit-scrollbar {
    display: none; /* Chrome, Safariでスクロールバーを非表示 */
  }

.infiniteGrid {
    display: grid;
    gap: 24px;

    @include mq(sm) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mq(md) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mq(lg) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include mq(xl) {
        grid-template-columns: repeat(6, 1fr);
    }
}