@use "../../../../../../styles/utils/mixins" as *;

.skeletonImage {
	margin:auto;

	@include mq(sm) {
		width: 240px;
		height: 240px;
	}

	@include mq(md) {
		width: 320px;
		height: 320px;
	}
}

.skeletonText {
	width: 240px;

	@include mq(sm) {
		height: 26px;
	}

	@include mq(md) {
		height: 35px;
	}
}