@use "../../../../styles/utils/mixins" as *;

.jacketLink { 
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
    will-change: transform;
    overflow: hidden;
    border-radius: var(--radius-4);
    height: 0;
    padding-bottom: 100%;
}

.jacketLink::after {
    position: absolute;
    content: "";
    background: #fff;
    opacity: 0.2;
    transform: rotate(315deg);
    filter: blur(6px);
    transition: all 350ms ;
    width: calc(100% * 1.41421356237);
    height: calc(100% * 1.41421356237);
    top: -120%;
    left: -120%;
}

.jacketImg {
    border-radius: var(--radius-4);
}

.jacketLink:hover {
    transform: perspective(900px) rotateX(20deg) translateZ(10px);
}

.jacketLink:hover::after {
    top: 60%;
    left: 60%;
}
