@use "../../../../styles/utils/mixins" as *;

.jacketLink { 
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
    will-change: transform;
    overflow: hidden;
    border-radius: var(--radius-4);

    @include mq(sm) {
		height: 100px;
	}

	@include mq(md) {
		height: 200px;
	}
}

.jacketLink::after {
    position: absolute;
    content: "";
    background: #fff;
    opacity: 0.2;
    transform: rotate(315deg);
    filter: blur(6px);
    transition: all 350ms ;

    @include mq(sm) {
        top: -5px;
        left: -80px;
        width: 150px;
        height: 10px;
    }
    
    @include mq(md) {
        top: -30px;
        left: -190px;
        width: 300px;
        height: 30px;
    }
}

.jacketImg {
    border-radius: var(--radius-4);
}

.jacketLink:hover {
    transform: perspective(900px) rotateX(20deg) translateZ(10px);
}

.jacketLink:hover::after {

    @include mq(sm) {
        top: 90px;
        left: 15px;
    }

    @include mq(md) {
        top: 170px;
        left: 40px;
    }
}
