@use "../../../../../styles/utils/mixins" as *;

.skeletonHeading {
	width: 180px;

	@include mq(sm) {
		height: 22px;
	}

	@include mq(md) {
		height: 26px;
	}
}

.skeletonTrack {
	width: 100%;
	height: 220px;
}