@use "../utils/mixins" as *;

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: unset;
}

h1 {

	@include mq(sm) {
		font-size: 24px;
	}

	@include mq(md) {
		font-size: 32px;		
	}
}

h2 {
	@include mq(sm) {
		font-size: 20px;
	}

	@include mq(md) {
		font-size: 24px;		
	}
}

h3 {
	@include mq(sm) {
		font-size: 16px;
	}

	@include mq(md) {
		font-size: 20px;		
	}
}

:where(.radix-themes) {
	--color-background: #fdfdfd;
}
